{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block main %}
<div class="login">
<h1>Connexion <img src="{{asset('image/user-add.svg')}}" alt="user-icon" width="30"></h1>
<style>
		.login_form {
			background-image: url("{{ asset('image/imagelogin.jpg') }}");
 			background-repeat:no-repeat;
 			background-size:cover;
			} 
	</style>
<form method="POST" class ="login_form">

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="user_connec">
            Bonjour {{ app.user.userIdentifier }}, <button class="logout_button" type="submit">
       
            <a href="{{ path('app_logout') }}">Se deconnecter</a> </button>
        </div>
    {% else %}


    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="champ" autocomplete="email" required autofocus>
    <label for="inputPassword">Mot de Passe</label>
    <input type="password" name="password" id="inputPassword" class="champ" autocomplete="current-password" required>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <div class="Se souvenir de moi">
        <label>
            <input type="checkbox" name="_remember_me" class ="checkbox">Se souvenir de moi
        </label>
    </div>

        <button class="login_button" type="submit">
        Validez
    </button>

        

</form>

    <a href="{{ path('app_register') }}" class="Creation-button"> Creez votre Compte!</a>
    </div>

{% endif %}
{% endblock %}

