{% extends 'base.html.twig' %}

{% block title %}Ajouter de l'argent{% endblock %}

{% block main %}
    <h1>Ajouter de l'argent au compte : {{ compte.numero }}</h1>

    <div class="card">
        <div class="card-body">
            <h4>Montant à ajouter</h4>

            {{ form_start(form) }}
                {{ form_row(form.montant) }}
                <button type="submit" class="btn btn-success">Ajouter</button>
            {{ form_end(form) }}

            <a href="{{ path('app_compte') }}" class="btn btn-secondary mt-3">Retour à la liste des comptes</a>
        </div>
    </div>
{% endblock %}
