{% extends 'base.html.twig' %}

{% block title %}Compte{% endblock %}

{% block main %}
    {% if app.user %}
        {% for compte in comptes %}
            <div class="compte">
                <h2>{{ compte.nom }}</h2>
                <p>{{ compte.solde|number_format(2, ',', ' ') }} EUR</p>
                <p>{{ compte.type }}</p>

                <a href="{{ path('compte_add_money', {id: compte.id}) }}" class="btn btn-primary">Ajouter de l'argent</a>
                <a href="{{ path('compte_remove_money', {id: compte.id}) }}" class="btn btn-danger">Retirer de l'argent</a>
            </div>
        {% endfor %}

        <a href="{{ path('app_compte_new') }}" class="Compte_button">Créez un compte bancaire</a>
    {% else %}
        <a href="{{ path('app_login') }}" class="Creation-button">Connectez-Vous!</a>
    {% endif %}
{% endblock %}
